<!DOCTYPE html>
<html>

<head>
    <!--    Load Bootstrap via CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css"
        rel="stylesheet" />
    {% load static %}
    <link href="{% static 'vircom/css/text_boxes.css' %}" rel="stylesheet">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body style="width: 1000px">

    <h1>Search for {{data_type.name}}</h1>
    {% if error_message %}<p style="color: red"><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'vircom:make_advanced_search' community.id data_type.id %}" method="post" novalidate>
        <div class="row" style="width: 1000px">
            <div class="col-sm-3 nopadding">
                <div class="form-group">
                    <input type="text" class="form-control" id="{{field.name}}" aria-describedby="{{field.name}}"
                        placeholder="{{field.name}}" name="{{field.name}}" disabled="disabled">
                </div>
                <div class="col-sm-3 nopadding">
                    <div class="form-group">
                        <select class="form-control" id="selectMatchType" name="match_type">
                            <option selected>contain</option>
                            <option>equals</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 nopadding">
                    <div class="form-group">
                        <select class="form-control" id="FormControlSelectRequired" name="required">
                            <option selected>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>



    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!--Load Bootstrap JavaScript-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>