<a href="{% url 'vircom:index' %}">Homepage</a>
<h1>{{ community.name }}</h1>
{% if error_message %}<p style="color: red"><strong>{{ error_message }}</strong></p>{% endif %}

{% if data_type_object_list%}
<ul>
    {% for post in data_type_object_list %}
    <li>
        <div>{{ post.data_type }}<br />
            {% for field in post.fields.fields %}<b>{{field.name}}:</b> {{field.value}}<br />{% endfor %}
        </div>
        <form action="{% url 'vircom:delete_post' community.id post.pk %}"><button type='submit'>Delete</button></form>
        <form action="{% url 'vircom:edit_post' community.name post.pk %}"><button type='submit'>Edit</button></form>
        <br /><br />
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There is no post in this community.</p>
{% endif %}



{% if data_type_list %}
{% for data_type in data_type_list %}
{% if not data_type.is_archived %}
<div><a href="{% url 'vircom:new_data_type_object' community.name data_type.name %}">Create New {{data_type.name }}</a>
    <form action="{% url 'vircom:delete_data_type' community.pk data_type.pk %}"><button type='submit'>Delete</button></form>
    <form action="{% url 'vircom:edit_data_type' community.name data_type.pk %}"><button type='submit'>Edit</button></form>
</div>
{% endif %}
{% endfor %}
{% endif %}
<br /><br />
<div><a href="{% url 'vircom:new_data_type' community.name%}">Create New Data Type</a></div>