{% if user.user %}
<p>Hi, {{user.user.username}}!</p>&nbsp;&nbsp;<a href="{% url 'vircom:log_out'%}">Log Out</a>
{% else %}
<a href="{% url 'vircom:log_in'%}">Log In</a>&nbsp;&nbsp;<a href="{% url 'vircom:sign_up'%}">Sign Up</a>
{% endif %}


<a href="{% url 'vircom:index' %}">Homepage</a>
<h1>{{ community.name }}</h1>
{% if error_message %}<p style="color: red"><strong>{{ error_message }}</strong></p>{% endif %}
<br />

{% if joined %}
<form action="{% url 'vircom:unsubscribe_community' community.pk %}"><button type='submit'>Unsubscribe</button></form>
{% else %}
<form action="{% url 'vircom:join_community' community.pk %}"><button type='submit'>Join</button></form>
{% endif %}

{% if data_type_object_list%}
<ul>
    {% for post in data_type_object_list %}
    <li>
        <div>
            {{ post.data_type.name }}<br />
            {% for field in post.fields.fields %}
            <b>{{field.name}}:</b>
            {% if field.field_type == "Image" and field.value != "-" %}
            <img src="{{field.value}}" style="width: 320px;" />
            {% elif field.field_type == "Video" and field.value != "-" %}
            <video width="320" controls>
                <source src="{{field.value}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {% elif field.field_type == "Audio" and field.value != "-" %}
            <audio controls>
                <source src="{{field.value}}" type="audio/wav">
                <source src="{{field.value}}" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
            {% elif field.multi_choice == "off" %}
            {{field.value}}
            {% else %}
            {% for value in field.value %}
            {{value}} &nbsp;
            {% endfor %}
            {% endif %}<br />
            {% endfor %}
            {{post.pub_date}}<br />{{post.user.username}}
        </div>
        <form action="{% url 'vircom:delete_post' community.id post.pk %}"><button type='submit'>Delete</button></form>
        <form action="{% url 'vircom:edit_post' community.name post.pk %}"><button type='submit'>Edit</button></form>
        <br /><br />
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There is no post in this community.</p>
{% endif %}



{% if data_type_list %}
{% for data_type in data_type_list %}
{% if not data_type.is_archived %}
<div><a href="{% url 'vircom:new_data_type_object' community.name data_type.pk %}">Create New {{data_type.name }}</a>
    {% if data_type.name != "Generic Post" %}
    {% if data_type.user == user.user %}
    {% if joined %}
    <form action="{% url 'vircom:delete_data_type' community.pk data_type.pk %}"><button type='submit'>Delete</button>
    </form>
    <form action="{% url 'vircom:edit_data_type' community.name data_type.id %}"><button type='submit'>Edit</button>
    </form>
    {% endif %}
    {% endif %}
    {% endif %}
</div>
{% endif %}
{% endfor %}
{% endif %}
<br /><br />
{% if joined %}
<div><a href="{% url 'vircom:new_data_type' community.name%}">Create New Data Type</a></div>
{% endif %}