<!DOCTYPE html>
<html>
<body>

<h1>Edit your post</h1>
{% if error_message %}<p style="color: red"><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'vircom:change_post' community.id post.id %}" method="post">
    {% csrf_token %}
    <p>Title: <input id="title" type="text" name="title" value="{{post.title}}"></p>
    <p>Body: <input id="body" type="text" name="body" style="width: 400px" value="{{post.body}}"></p>
    <p><input type="submit" value="Edit Post"></p>
</form>

</body>
</html>