<!DOCTYPE html>
<html>

<head>
  <!--    Load Bootstrap via CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  {% load static %}
  <link href="{% static 'vircom/css/text_boxes.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
  <!--    NAVBAR -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'vircom:index' %}">VirCom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'vircom:index' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vircom:new_community'%}">New Community</a>
        </li>
      </ul>
      <div style="float: right;">
        <form class="form-inline my-2 my-lg-0">
          <input style="width: 250px;" class="form-control mr-sm-2" type="search" placeholder="Search Community"
            aria-label="Search Community">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <ul class="navbar-nav" style="float: right;">
        {% if user.user %}
        <li class="nav-item">
          <a class="nav-link disabled">Hi, {{user.user.username}}!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vircom:log_out'%}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vircom:log_in'%}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vircom:sign_up'%}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <!--    NAVBAR -->
  <br /><br /><br /><br />

  <!--    COMMUNITY LIST -->
  <div class="container" style="width: 800px; margin:0 auto;">
    {% if community_list %}
    <ul class="list-group">
      {% for community in community_list %}
      <li class="list-group-item"><a href="{% url 'vircom:community_detail' community.name %}">{{ community.name}}</a>
      </li>
      <li class="list-group-item">{{community.description}}</li>
      <li class="list-group-item">
        <div class="input-group">{% for tag in community.tags.tags%}<p class="WikiItemTag">{{tag.tag}}<span
              class="textboxwWikiInfo"><a href="{{tag.url}}"
                style="color:#FFFF;">{{tag.qid}}-{{tag.label}}<br />{{tag.description}}</a></span></p>
          &nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}</div>
      </li>
      <br />
      {% endfor %}
    </ul>
    {% else %}
    <p>No communities are available.</p>
    {% endif %}
  </div>
  <!--    COMMUNITY LIST -->

  <!--    FOOTER -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 50px;"></nav>
  <!--    FOOTER -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>