<!DOCTYPE html>
<html>

<head>
    <!--    Load Bootstrap via CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {% load static %}
    <link href="{% static 'vircom/css/text_boxes.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
    <!--    NAVBAR -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'vircom:index' %}">VirCom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vircom:index' %}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'vircom:new_community'%}">New Community<span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav" style="float: right;">
                {% if user.user.username %}
                <li class="nav-item">
                    <a class="nav-link disabled">Hi, {{user.user.username}}!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vircom:log_out'%}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vircom:log_in'%}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vircom:sign_up'%}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!--    NAVBAR -->
    <br /><br /><br /><br />

    <div class="container" style="width: 800px; margin:0 auto;">
        <h3>Create a new community</h3>
        {% if error_message %}<p style="color: red"><strong>{{ error_message }}</strong></p>{% endif %}

        <!--    FORM -->
        <form action="{% url 'vircom:create_community'%}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="CommunityName">Community Name</label>
                {% if community_name %}
                <input type="text" class="form-control" id="CommunityName" aria-describedby="CommunityName"
                    placeholder="Enter community name" value="{{community_name}}" name="name">
                {% else %}
                <input type="text" class="form-control" id="CommunityName" aria-describedby="CommunityName"
                    placeholder="Enter community name" name="name">
                {% endif %}
            </div>
            <div class="form-group">
                <label for="CommunityDescription">Description</label>
                {% if description %}
                <textarea class="form-control" id="CommunityDescription" placeholder="Briefly describe your community"
                    rows="5" name="description"></textarea>
                {% else %}
                <textarea class="form-control" id="CommunityDescription" placeholder="Briefly describe your community"
                    rows="5" name="description"></textarea>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="CommunityDescription">Tags</label>
                {% if tags %}
                <input type="text" class="form-control" data-role="tagsinput" value="{{tags}}" name="tags" />
                {% else %}
                <input type="text" class="form-control" data-role="tagsinput" name="tags" />
                {% endif %}
                <small id="CommunityTagsHelper" class="form-text text-muted">You can seperate the tags using comma(,).
                    e.g
                    tag1,tag2,tag3...</small>
            </div>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-outline-success">Create Community</button>
                <button class="btn btn-outline-primary" type="submit" name="get_tag" value="get_tag"
                    style="margin-left: 10px;">Get
                    Tag Suggestions</button>
                <button class="btn btn-outline-danger" type="submit" name="cancel" value="cancel"
                    style="margin-left: 10px;">Cancel</button>
            </div>
        </form>
        <!--    FORM -->
    </div>
    </br>

    <!--    FOOTER -->
    <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light" style="height: 25px;"></nav>
    <!--    FOOTER -->

    {% if description %}
    <script>
        function myFunction() {
            document.getElementById("CommunityDescription").defaultValue = "{{description}}";
        }
    </script>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>