<!DOCTYPE html>
<html>

<head>
    <!--    Load Bootstrap via CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body style="width: 1000px">


    <h1>Create a new community</h1>
    {% if error_message %}<p style="color: red"><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'vircom:create_community'%}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="CommunityName">Community Name</label>
            <input type="text" class="form-control" id="ICommunityName" aria-describedby="CommunityName"
                placeholder="Enter community name" name="name">
        </div>
        <div class="form-group">
            <label for="CommunityDescription">Description</label>
            <textarea class="form-control" id="CommunityDescription" placeholder="Briefly describe your community"
                rows="5" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="CommunityDescription">Tags</label>
            <input type="text" class="form-control" data-role="tagsinput" name="tags"/>
            <small id="CommunityTagsHelper" class="form-text text-muted">You can seperate the tags using comma(,). e.g tag1,tag2,tag3...</small>
        </div>
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary">Create Community</button>
            <button class="btn btn-success" type="submit" name="get_tag" value="get_tag"
                style="margin-left: 10px;">Get Tag Suggestions</button>
            <button class="btn btn-danger" type="submit" name="cancel" value="cancel"
                style="margin-left: 10px;">Cancel</button>
        </div>
    </form>


    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!--Load Bootstrap JavaScript-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>