.textboxwWikiInfo {
    visibility: hidden;
  
    background-color: #6A6A6A;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .WikiItemTag {
    display: inline; 
    background-color: #6A6A6A; 
    color: #fff;
    padding: 3px;
    border-radius: 6px;
  }
  
  .WikiItemTag:hover .textboxwWikiInfo {
    visibility: visible;
  }